[flake8]
max-line-length = 88
# E203: whitespace before ':' (incompatible with black)
# G004: Logging statement uses f-string
extend-ignore = E203 G004
# C4: enables flake8-comprehensions
extend-select = C4
